@tailwind base;
@tailwind components;
@tailwind utilities;

html,

body {
  padding: 0;
  margin: 0;
  border: 5% solid black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a:hover {
  background-color: none;
}
.anim-underline-fx {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(to right, darkblue 50%,
  lightsteelblue 50%);
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position .3s;
}
.anim-underline-fx:hover {
  background-position: 0% 100%;
}

* {
  box-sizing: border-box;
}

header{
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  width: 100%;
  font-size:x-large;
  border: solid black 4px;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
}

footer{
  border: solid black 4px;
  border-left: transparent;
  border-right: transparent;
}


li {
  list-style: circle inside ;
}


div

#_appdiv {
  background-color: darkorange;
}

#maindiv{
  width: 100%;
  min-height: 50px;
  background-color: lightgray;
  margin-bottom: 10px;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

#logodiv {
  width: 50%;
  min-width: 50px;
  padding-left: 2%;
  float: left;
  line-height: 50px;
}

#navdiv {
  width: 50%;
  min-height: 50px;
  float: right;
  line-height: 50px;
}

#headerbanner {
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 10px;
  font-size: xx-large;
}

#introtext {
  width: 100%;
  min-height: 80px;
  background-color: lightgray ;
  line-height: 80px;
  text-align: center;
  margin-bottom: 10px;
}

#mainbox{
  width: 100%;
  min-height: 400px;
  margin-bottom: 10px;
}

#mainbox
.box {
  width: 30%;
  min-height: 500px;
  background-color: lightgray;
  float: left;
  text-align: justify;
}
.box:nth-child(2) {
  margin-right: 5%;
  margin-left: 5%;
}

#footer {
  width: 100%;
  height: 50px;
  background-color: lightgray;
  line-height: 50px; 
  text-align: right;
}

#wrapper {
  width: 90%;
  margin: auto;
}


button.btn_gradient{
  background: linear-gradient(white,white) paddingbox, 
  linear-gradient(90deg, darkblue,darkorchid) border-box;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3em;
}






















/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} 



border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3em;
  background: linear-gradient(white,white) paddingbox, linear-gradient(90deg, darkblue,darkorchid) border-box;

*/
